html, body {
	height: 100%;
}

#tableContainer1 {
	height: 100%;
	width: 100%;
	display: table;
}

#tableContainer2 {
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}

#loginTable {
	margin: 0 auto;
	padding: 10px;
	background-color: cyan;
}

#login-form {
	text-align: right;
}

#button-form {
	color: blue;
}