html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("../images/bg-1.jpg");
}

.tableContainer1 {
	height: 100%;
	width: 100%;
	display: table;
}

.tableContainer2 {
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}

#loginTable {
	margin: 0 auto;
	padding: 10px;
	background-color: cyan;
}

#gameTable {
	margin: 0 auto;
	padding: 10px;
	border-collapse: collapse;
	border-spacing: 0 1em;
	border: 2px;
	text-align: center;
}

#gameTable tr {
	height: 40px;
}

#gameTable td {
	width: 40px;
}

#login-form {
	text-align: right;
}

#button-form {
	color: blue;
}

#login-button {
	background-color: red;
}

.game-Button {
	background-color: #4CAF50; /* Green */
    border: 1px solid black;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.game-Button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#wrapper {
	width: 100%;
	overflow: auto;
}

#game {
	float: left;
	width: 60%;
}

#highscore {
	float: right;
	width: 35%;
}

#status {
	width: 100%;
}

#usertime {
	float: left;
	width: 60%;
}

#startbutton {
	float: right;
	width: 40%;
}